Placement-Workflow.json
{
  "name": "Placement_Calender",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "sender": "=pc.rajagiri@gmail.com"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        -560
      ],
      "id": "7818cec5-a5b4-4b7e-84a5-858349f1cae7",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "jQymkwEpI0auWz1a",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        220,
        -360
      ],
      "id": "654171d5-40dd-4c03-9f42-0c0145720874",
      "name": "When chat message received",
      "webhookId": "36dda9d6-ded7-4e56-bce4-45b7da75760e"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert data extraction bot. Your task is to analyze the following text and extract key details about the placement opportunity.\n\nYou must respond ONLY with a single, valid JSON object and nothing else. Do not include any explanations, greetings, or markdown formatting like ```json.\n\nUse the following JSON structure:\n{\n  \"company_name\": \"...\",\n  \"job_role\": \"...\",\n  \"eligibility_criteria\": {\n    \"branches\": [\"...\", \"...\"],\n    \"cgpa\": \"...\",\n    \"graduation_year\": \"...\"\n  },\n  \"salary_package\": \"...\",\n  \"last_date_to_register_with_time\": ,\n  \"test_or_event_date\": \"YYYY-MM-DD\",\n  \"application_link\": \"...\",\n  \"job_location\": \"...\"\n}\nProvide the date and time in the format that can be used to create a google calender event.\nIf any piece of information cannot be found in the text, use `null` as its value. For branches, provide a list of strings.\n\nHere is the text to analyze:\n\n {{ $json.text }}",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        440,
        -460
      ],
      "id": "e3e871c4-f035-498c-bc73-59c8e1c64115",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        520,
        -45
      ],
      "id": "fbb5209f-24c9-4286-9721-845a180b16a3",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "VlIZL38kPV1rFbld",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ecfab120-956a-42e8-8879-e96d808a699b",
              "name": "headers.from",
              "value": "={{ $json.headers.from }}",
              "type": "string"
            },
            {
              "id": "32fb1b32-d4b2-4388-9efc-e4f75307c7f7",
              "name": "headers.subject",
              "value": "={{ $json.headers.subject }}",
              "type": "string"
            },
            {
              "id": "af151297-57d0-4e72-8f81-052447998b7e",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "1ff95944-df55-47ad-abcf-46e46df239ae",
              "name": "date",
              "value": "={{ $json.date }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        -560
      ],
      "id": "14355199-1c63-4f43-adbd-0d9facadb1a8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\"output\":{\"company_name\":\"DeltaX\",\"job_role\":\"Associate Product Engineer\",\"eligibility_criteria\":{\"branches\":[\"AD\",\"CS\",\"CSBS\",\"IT\"],\"cgpa\":\"6.5\",\"graduation_year\":\"2026\"},\"salary_package\":\"INR 7 LPA CTC\",\"last_date_to_register_with_time\":\"2025-07-21T17:00:00\",\"test_or_event_date\":null,\"application_link\":\"https://forms.gle/e2QoZSVpma4q99DT9\",\"job_location\":\"Bangalore, Hyderabad, Pune\"}}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        560,
        -240
      ],
      "id": "7a6c78b2-e4fb-4405-8c05-3f37e5ad0f08",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "6044abe888dd0702ad45c86720df261531cd7747cf5a5c2f512476bb7a9906f0@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Placements"
        },
        "end": "={{ $json.output.last_date_to_register_with_time }}",
        "useDefaultReminders": false,
        "additionalFields": {
          "color": "11",
          "description": "=Above {{ $json.output.eligibility_criteria.cgpa }}\n\n{{ $json.output.salary_package }}\n{{ $json.output.application_link }}",
          "summary": "={{ $json.output.company_name }}"
        },
        "remindersUi": {
          "remindersValues": [
            {
              "method": "popup",
              "minutes": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        880,
        -460
      ],
      "id": "70882352-9b08-469f-b8fe-b2e58edce4f2",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "kiXdFyUghgK8nOb5",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "13840f63-abc1-4d6c-b534-36efca150753",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "21460e016f8b7f31f241379a885a02b777ce2c6345f0719a583ba0765f1a98b7"
  },
  "id": "pRXYuxT5Bm7e1s7A",
  "tags": []
}
